<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/jquery.mobile-1.3.1.min.css">
<script src="js/jquery.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/json2.js"></script>
<script src="js/jstorage.js"></script>
<script src="js/jquery.mobile-1.3.1.min.js"></script>
<script src="js/custom.js"></script>
    <title>things TODO</title>
<script type="text/template" id="item">
<li id="<%= id %>"><a ref="#" ><%= title %></a><a id="remove" data-theme='b' data-inline="true" data-role="button" data-mini="true" data-icon="check" href="#"></a></li>
</script>
<script type="text/template" id="main">
    <div data-role="content">
        <div data-role="fieldcontain">
            <input name="title" id="task" placeholder="Enter the task title" value=""
            type="text">
        </div>
        <input value="ADD TASK"  id="addbutton" type="button">
    </div>
   <ol id="tasklist" data-role="listview" data-split-theme="d">
</ol > 
</script>
</head>
<body>
<!-- Extra Codiqa features -->
<div data-role="page" id="container">
  <div data-role="header">
   <h1 >things TODO</h1>
   <a href="#about" data-rel="dialog">About</a>
  </div><!-- /header -->
</div>

<div data-role="page" id="about" data-rel="dialog">
  <div data-role="header" >
   <h1 >About</h1>
  </div><!-- /header -->
  <div data-role="content">
  <p>a simple app to manage todo list</p>
  <p>please send your comments to zeetmail@gmail.com</p>
  <div>
</div>
</body>
</html>

